html{
  background-color: blueviolet;
  font-family: sans-serif;
}

body{
  background-color: white;
  width: 1000px;
  margin: auto;
}

header{
  padding-top: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
}

h1{
  font-family: 'Notable', sans-serif;
  font-size: 60px;
}

h2{
  font-family: sans-serif;
  font-weight: bold;
  position: relative;
  right: 10px;
  margin-left: 40px;
  font-size: 30px;
  display: inline;
}

h3{
  font-size: 20px;
  visibility: hidden;
  text-align: center;
}

nav{
  width: 900px;
  height: 70px;
  font-size: 20px;
  background-color: white;
}

ul{
  margin-left: 20px;
  text-align: left;
}

li{
  list-style-type: disc;
  list-style-position: inside;
  margin: 5px;
  text-align: left;
}

img{
  max-width: 300px;
  width: 100%;
  height: 18em;
  margin: 5px;
  margin-top: 20px;
  border-radius: 100px;
  border: 5px solid violet;
}

canvas{
  width: 900px;
}

span{
  font-weight: bolder;
}

.bottomButtons{
  display: inline;
  margin-left: 10px;
}

#top{
  display: inline;
}

#rounds{
  margin-right: 10px;  
  float: right;
}

#image-section{
  margin-top: 40px;
  text-align: center;
}

#navUl {
  visibility: hidden;
  margin: 0px;
  padding: 0px;
  float:center; 
}

#navLi{
  width: 320px;
  height: 45px;
  margin-left: 350px;
  padding-top: 25px;
  float: left;
  text-align: center;
  color: black;
  list-style-type: none;
}

#navLi:hover{
  background-color: rgb(223, 48, 193);
}

#legal{
  padding-top: 10px;
  text-align: center;
}

#resetControls{
  margin: 10px;
  margin-top: 20px;
  visibility: hidden;
  text-align: center;
}